/* Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 970px !important;
  }

  footer {
    margin-top: -@footerH-desktop-xl;
  }

  .custom {
    .wrapper {
      .main-content {
        padding-top: @navH-desktop-xl;
        padding-bottom: @footerH-desktop-xl;
      }
    }
  }

  // HOME
  #home {
    .wrapper {
      .main-content {

      }
    }
  }

}
